[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
nltk = "*"
fasttext = "*"
words-arithmetic = {path = "./words_arithmetic"}
pyemd = "*"
streamlit = "*"

[dev-packages]
notebook = "*"
jupyter = "*"

[requires]
python_version = "3.8"
